.navbar-light {
    background-color:#7bafd4 !important;
}
.nav-link {
    color:white !important;
}
.navbar-brand {
    font-size: 1.5rem !important;
}
a:hover, a:focus {
    color:#13294b !important;
}
.active {
    color:yellow !important;
    text-decoration:underline !important;
}
.round {
    border-radius:5px !important;
}
.redm{
    color:red !important;
}

.gallery {
    display:flex;
    flex-wrap:wrap;
    background-color:#13294b;
}

.galleryimg {
    margin-top:10px;
    margin-bottom:10px;
}

.galleryimgbottom {
    margin-top:10px;
}

h3 {
    color:#7bafd4 !important;
}

.placeholder {
    color:#7bafd4 !important;
}

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
body {
    font-family: 'Rubik', sans-serif;
    height: 100 !important;
}


.container-fluidfooter{
    overflow:hidden; 
    margin-top: 50px ;
    background:black ;
    color: white  !important;
    margin-bottom: 0 ;
    padding-bottom:0  ;
}

small{
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important; 
}

.bold-text{
    color: #989c9e !important;
}


.mt-55{
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important; 
}


h3{
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important; 
}

h1{
    font-size: calc(40px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important; 
}
 
.social{
    font-size: 21px !important; 
}

.rights{
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important; 
}

.card {
    border-radius:0px !important;
    outline:none !important;
}
.card-image-top {
    border-radius:0px !important;
}

#bio {
    margin: 5%;
    box-shadow: 3px 3px 20px #c4c4c4;
}

#about {
    margin-bottom: 2%; 
}

#nav {
    color: white;
    font-weight: bold;
}

.right {
    float: right;
}


.m {
    margin: 2%;
    margin-bottom: 0;
}

.title {
    font-weight: bold;
}
